*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../images/jumbotron.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0;
}

#header-nav{
  background-color: #000;
  opacity: 0.5;
  height: 80px;
  border-radius: 0;
  border: 0;
}

.active{
  color: white;
}

/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/
.navbar-dark .nav-item{
  color: white;
}
/*
#head-container{
  background-color: #ffffff;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  padding: 5px;
}*/

#AboutMe{
  background-color: white;
}
#head-about{
  text-align: center;
  color: black;
  padding: 10px;
}
#list-about{
  color: black;
  padding: 30px;
}

#hr-about-projects{
  margin-left: 20px;
  margin-right: 20px;
  color: gray;
}

.row{
  background-color: transparent;
  vertical-align: middle;
  padding-top: 50px;
  padding-left: 60px;
}

#main-name{
  text-align: center;
  color:white;
  opacity: 1.0;
  padding-top: 20px 10px 10px 10px;
}
#main-content{
  color:white;
  opacity: 1.0;
}
#main-content-text{
  opacity: 1.0;
  text-align: center;
  text-decoration-color: white;
  background-color: black;
  opacity: 0.5;
}
/************* IMAGE *********/
/*
#main-content-image{
  margin: 0;
  padding: 0;
  background-color: white;
  opacity: 1.0;
  align-items: left;
}*/
#image{
  margin-left: 20px;
  padding: 0px;
  align-self: center;
  border-radius: 5%;
}
#picture:hover{
  box-shadow: 0 1px 5px 1px black;
}
#picture{
  border-radius: 5%;
}
/*************************** Table *********************/
#table-menu{
  background-color: black;
  opacity: 0.5;
  border-radius: 5%;
  padding-top: 10px;
  text-align: center;
}
td{
  padding: 30px;
  border-bottom: 1px solid white;
  text-size-adjust: 40px;
}
#about{
  border-top: 1px solid white;
}
tr:hover{
  background-color: darkslategrey;
}
table{
  text-size-adjust: 30px;
}

/*************************** Link**********************/

/*************************** List **********************/
/*
#list-menu{
  background-color: black;
  opacity: 0.5;
  border-radius: 5%;
}
#list-menu{
  padding-top: 20px;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid dimgray;
  border-radius: 5%;
}

ul li {
  padding: 32px 48px;
  border-bottom: 1px solid dimgray;
  border-radius: 5%;
}

ul li:last-child {
  border-bottom: none
}
*/
/********************** My Projects *****************/
#MyProjects{
  background-color: #f0f0f0;
}

#head-projects{
  text-align: center;
  color: black;
  padding: 10px;
  padding-bottom: 20px;
}
.project-tile {
  margin-bottom: 25px;
}
.project-tile hr {
  width: 80%;
  color: #fff;
}
.project-tile {
  font-size: 1.1em;
  text-align: left;
  margin-top: -15px;
  margin-right: -15px;
}
.project-photo {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 200px;
}
.project-photo:hover{
  box-shadow: 0 1px 5px 1px black;
}
.project-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.project-description {
  padding-right: 30px;
}
h3.project-title {
  margin: 0 0 10px;
}
.project-details {
  font-size: .9em;
}
.project-details > span{
  font-style: italic;
}

/************************* New Footer *******************/
#contact-me{
  background-color: darkslategrey;
  text-decoration-color: black;
  margin-top: 40px;
}
div.row{
  margin-bottom: 0px;
  color: black;
  text-decoration-color: black;
}
#hours, #address{
  line-height: 1.3em;
  text-decoration-color: black;
}
#contact > span, #address > span, #social-media > span{
  font-size: 1.2em;
  text-decoration-color: black;
}
#address p{
  font-size: 0.8em;
  line-height: 1.8;
  text-decoration-color: black;
}
#copy-right{
  font-style: italic;
  font-size: 0.8em;
  text-decoration-color: black;
}
#social-div{
  display:inline;
  text-decoration-color: black;
}
/************* FOOTER ********************/
/*
#contactme{
  background-color: black;
  text-decoration-color: white;
  margin-top: 40px;
}
.panel-footer{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom:0px;
  background-color: black;
  border-top: 0;
  color: white;
}

.panel-footer div.row{
  margin-bottom: 0px;
  color: white;
  text-decoration-color: white;
}
#hours, #address{
  line-height: 1.3em;
  color: white;
  text-decoration-color: white;
}
#contact > span, #address > span, #social > span{
  font-size: 1.2em;
  color: white;
  text-decoration-color: white;
}
#address p{
  color: white;
  font-size: 0.8em;
  line-height: 1.8;
  text-decoration-color: white;
}
#testimonials{
  font-style: italic;
  color: white;
  text-decoration-color: white;
}
#social-div{
  display:inline;
  color: white;
  text-decoration-color: white;
}
#copy-right{
  color: whitesmoke;
}
*/
/********************* END OF FOOTER ************/

/************** MEDIA QUERRIES ****************/
/************** LARGE DEVICES ONLY ************/
@media (min-width: 992px) {
  #head-name{
    font-size: 50px;
  }
  #head-content{
    font-size: 25px;
  }
}

/************* MEDIUM DEVICES ONLY ****************/
@media (min-width: 768px) and (max-width: 991px) {
  #head-name{
    font-size: 40px;
  }
  #head-content{
    font-size: 20px;
  }
}

/************** SMALL DEVICES ONLY *****************/
@media (min-width: 480px) and (max-width: 767px) {
  #head-name{
    font-size: 30px;
  }
  #head-content{
    font-size: 15px;
  }
}

/************** EXTRA SMALL DEVICES *****************/
@media (max-width: 479px) {
  #head-name{
    font-size: 20px;
  }
  #head-content{
    font-size: 10px;
  }

}
