*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../images/jumbotron.jpg");
  height: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-nav{
  background-color: #000;
  opacity: 0.5;
  height: 80px;
  border-radius: 0;
  border: 0;
}
/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/
.navbar-dark .nav-item{
  color: white;
}

#head-container{
  background-color: #ffffff;
  opacity: 0.5;
  width: 60%;
  height: 40%;
  padding: 5px;
}
#head-name{
  text-align: center;
  color: black;
  opacity: 0.8;
  padding-top: 20px 10px 10px 10px;
}
#head-content{
  color: black;
  opacity: 0.8;
}

#image{
  margin-left: 100px;
  padding: 30px;
}

#AboutMe{
  background-color: white;
}
#head-about{
  text-align: center;
  color: black;
  padding: 10px;
}
#list-about{
  color: black;
  padding: 30px;
}

#hr-about-projects{
  margin-left: 20px;
  margin-right: 20px;
  color: gray;
}
/********************** My Projects *****************/
#MyProjects{
  background-color: #f0f0f0;
}

#head-projects{
  text-align: center;
  color: black;
  padding: 10px;
  padding-bottom: 20px;
}
.project-tile {
  margin-bottom: 25px;
}
.project-tile hr {
  width: 80%;
  color: #fff;
}
.project-tile {
  font-size: 1.1em;
  text-align: left;
  margin-top: -15px;
  margin-right: -15px;
}
.project-photo {
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 200px;
}
.project-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.project-description {
  padding-right: 30px;
}
h3.project-title {
  margin: 0 0 10px;
}
.project-details {
  font-size: .9em;
}
.project-details > span{
  font-style: italic;
}

/************* FOOTER ********************/
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: lightgray;
  border-top: 0;
}

.panel-footer div.row{
  margin-bottom: 35px;
}
#hours, #address{
  line-height: 1.3em;
}
#contact > span, #address > span, #social > span{
  font-size: 1.3em;
}
#address p{
  color: black;
  font-size: 0.8em;
  line-height: 1.8;
}
#testimonials{
  font-style: italic;
}
#social-div{
  display:inline;
}
/********************* END OF FOOTER ************/

/************** MEDIA QUERRIES ****************/
/************** LARGE DEVICES ONLY ************/
@media (min-width: 992px) {
  #head-name{
    font-size: 50px;
  }
  #head-content{
    font-size: 25px;
  }
}

/************* MEDIUM DEVICES ONLY ****************/
@media query (min-width: 768px) and (max-width: 991px) {
  #head-name{
    font-size: 40px;
  }
  #head-content{
    font-size: 20px;
  }
}

/************** SMALL DEVICES ONLY *****************/
@media query (min-width: 480px) and (max-width: 767px) {
  #head-name{
    font-size: 30px;
  }
  #head-content{
    font-size: 15px;
  }
}

/************** EXTRA SMALL DEVICES *****************/
@media (max-width: 479px) {
  #head-name{
    font-size: 20px;
  }
  #head-content{
    font-size: 10px;
  }

  #image{
    padding-left: 10px;
  }
}
